body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #ffffff;
}

.arquivos {
  box-shadow: 10px 30px 20px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration:dashed;
}
.arquivos img {
  max-width: 80px;

}

/*>>>>>>>>>>>>>>>>>> INICIO FORMATAÇÃO MONITORAMENTO <<<<<<<<<<<<<<<<<<<<<<<<<*/

.Ferramentas {
  max-width: 8000px;       /* limite para não esticar demais */
  margin: 0 auto;          /* centraliza horizontalmente */
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;               /* mais espaço entre cards */
}

/* Ajuste no tamanho do card para tela grande */
.imagens {
  width: 240px;
  height: flex;
  padding: 10px;
  background-color: #bdb6b6;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.botao {
  display: block;       /* para respeitar a largura 100% */
  width: 180px;          /* ocupa toda a largura do container */
  height: 20px;
  margin-top: 12px;
  padding: 3px 0;      /* só padding vertical pra deixar mais bonito */
  background-color: #3498db;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;   /* centraliza o texto dentro do botão */
  transition: background-color 0.3s;
}

.botao:hover {
  background-color: #c0392b;
} 

h1 {
    width: flex;
    color: #eee8e8;
    background-color: #c0392b;
    border-radius: 20px; /* Arredondamento da borda */
    font-size: 32px;
    font-weight:800;
    padding: 4px;
    text-align: center;
    border-width: flex;
        
}

h5 {
    border-bottom: 3px solid #3498db;
    color: #101111;
    font-size: 32px; 
    font-weight:800;
    padding: 4px;
    text-align: center;
    border-width: flex;
}

.imagens img {
  max-width: 30%;
  border-radius: 10px;
  display: 150px;
  padding: 0px;
}


